{% extends "homepage.html" %}

{% block title %}
  Fléshi - Criar Conta
{% endblock %}

{% block form %}
    <form method="post">
        {{ form.csrf_token }}

        <div class="mb-3">
            {{ form.email.label(class="form-label") }}
            {{ form.email(class="form-control") }}
        </div>

        {% if form.email.errors %}
            {% for erro in form.email.errors %}
                <div class="alert alert-danger">{{ erro }}</div>
            {% endfor %}
        {% endif %}

        <div class="mb-3">
            {{ form.username.label(class="form-label") }}
            {{ form.username(class="form-control") }}
        </div>

        {% if form.username.errors %}
            {% for erro in form.username.errors %}
                <div class="alert alert-danger">{{ erro }}</div>
            {% endfor %}
        {% endif %}

        <div class="mb-3">
            {{ form.password.label(class="form-label") }}
            {{ form.password(class="form-control") }}
        </div>

        <div class="mb-3">
            {{ form.confirm_password.label(class="form-label") }}
            {{ form.confirm_password(class="form-control") }}
        </div>

        {% if form.confirm_password.errors %}
            {% for erro in form.confirm_password.errors %}
                <div class="alert alert-danger">{{ erro }}</div>
            {% endfor %}
        {% endif %}

        {{ form.submit(class="btn btn-primary w-100 mb-3") }}
    </form>

    <a href="{{ url_for('homepage') }}" class="btn btn-outline-secondary w-100">
        Tem uma conta? Faça login
    </a>
{% endblock %}